<section class="admin-products-new">

<header class="page-header">
  <h1>Admin &raquo; New Category</h1>
</header>

<div class="well">
  <%= link_to 'All Categories', [:admin, :categories], class: 'btn btn-info' %>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-1">
    <%= form_for [:admin, @categories] do |new_cat| %>

      <% if new_cat.object.errors.any? %>
        <div class="alert alert-danger">
          <strong>The following errors prevented saving:</strong>
          <ul>
            <% new_cat.object.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="new_cat-group">
        <%= new_cat.label :name %>
        <%= new_cat.text_field :name, class: 'new_cat-control' %>
      </div>

      

      

      <%= new_cat.submit 'Create Category', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

</section>